@use 'variables' as *;
@use 'registration_style';

// ============================================
// ESTILOS ESPECÍFICOS DE CHOFER
// ============================================

// Botón primario del nav
nav a.btn-primary {
  background-color: $chofer-color;

  &:hover {
    background-color: $chofer-hover;
  }
}

nav a.btn-secondary{
  background-color: $chofer-color;

  &:hover {
    background-color: $chofer-hover;
  }

}

// Botón del formulario
button {
  background-color: $chofer-color;

  &:hover {
    background-color: $chofer-hover;
  }
}

// Badge
.badge {
  background-color: $chofer-color;
}